.customdivblock1
{
margin:3px;
min-height:295px;
min-width:450px;
text-align:left;
font-size:small;
float:left;
}
.customdivblock2
{
margin:3px;
min-height:100px;
max-height:100%;
min-width:450px;
 border: 1px solid black;
background-color:rgb(242, 242, 242);
text-align: left;
font-size: medium;
float:right;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(128,0,0);
   color: white;
   text-align: center;
}
